
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }
    body {
      background: #f9f9f9;
      color: #333;
    }
    #videoFondo {
        position: fixed;
        top: 0;
        left: 0;
        min-width: 100vw;
        min-height: 100vh;
        z-index: -1;
        object-fit: cover;
      }
    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10%;
      background-color: #fff;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    nav a {
      margin: 0 10px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
    }
    .hero {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 60px 10%;
    }
    .hero-text {
      max-width: 50%;
    }
    .hero-text h1 {
      font-size: 3rem;
    }
    .hero-text h1 span {
      color: orange;
    }
    .hero-text p {
      font-size: 1.2rem;
      margin: 10px 0 20px;
    }
    .hero-text button {
      padding: 10px 20px;
      background-color: #4a00e0;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
    .hero-img img {
      width: 250px;
      border-radius: 50%;
      border: 5px solid #54220b;
    }
    .social-icons {
      margin-top: 20px;
    }
    .social-icons a {
      margin-right: 10px;
      font-size: 20px;
      color: #4a00e0;
      text-decoration: none;
    }